@model CarRentt.Models.Modele

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Modele</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Categorie.NomCategorie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categorie.NomCategorie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SerieVoiture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SerieVoiture)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MarqueVoiture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MarqueVoiture)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ModeleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
